<header class="header">
    <div class="header-content">
        <div class="logo">
            <h1>
                <span class="cyber-text"><img src="https://ik.imagekit.io/johnsetsama/AssetsPerso/logo.png?updatedAt=1748115918422" alt="Logo Eilor"></span>
                <span class="cyber-text">Kolander </span>
            </h1>
            <p class="tagline">Plateforme de sécurité intelligente</p>
        </div>

        <nav class="nav">
            <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            <a routerLink="/analysis" routerLinkActive="active">Analyse</a>
            <a routerLink="/config" routerLinkActive="active">Config</a>
        </nav>

        <div class="status">
            <div class="status-indicator online"></div>
            <span>Système connecté</span>
        </div>
    </div>
</header>